<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org" >

<head>
<meta charset="UTF-8"/>
<title>Form des  Produits </title>
<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css"
th:href="@{/css/bootstrap.min.css}"/>
<link rel="stylesheet" type="text/css" href="../static/css/MyStyle.css"
th:href="@{/css/MyStyle.css}"/>
</head>
<body>
<div class="panel panel-default col-md-6 col-sm-6 col-xs-12 col-md-offset-3 spacer">
<div class="panel-heading">saisir un produit </div>
<div class="panel-body"> 
<form th:action="@{saveProduit}" method="post" th:object="${produit}" enctype="multipart/form-data">

<div class="form-group">
<label class="control-label">Nom: </label>
<input type="text" th:field="*{nom}" class="form-control"/>
<span th:errors="*{nom}"></span>
<div>
<label class="control-label">Quantite: </label>
<input type="text" th:field="*{qte}" class="form-control"/>
<span th:errors="*{qte}"></span>
</div>
<div>
<label class="control-label">Prix: </label>
<input type="text" th:field="*{prix}" class="form-control"/>
<span th:errors="*{prix}"></span>
</div>
<div>
<label class="control-label">Photo: </label>
<input type="file" name="picture" class="form-control"/>
<span></span>
</div>
<div>
<button type="submit" class="btn btn-primary"> Ajouter Produit </button>
</div>
</div>
</form>
 </div>
</div>

</body>
</html>