<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org">
<head>
<meta charset="UTF-8"/>
<title>Page Produit </title>
<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css"
th:href="@{/css/bootstrap.min.css}"/>
<link rel="stylesheet" type="text/css" href="../static/css/MyStyle.css"
th:href="@{/css/MyStyle.css}"/>
</head>
<body>
<div class="container spacer">
<a th:href="@{form}">Ajouter Produit </a>
</div>
<div class="container spacer">
<form th:action="@{index}" method="get">
<div class="form-group">
<label>Saisir le mot clé du produit :   </label>
<input type="text" name="motCle" th:value="${motCle}"/> 
<button type="submit">Chercher produit</button>
</div>
</form>
</div>
<div class="container spacer" >
<table class="table table-striped">
<thead>
<tr>
<th>ID </th><th>Nom </th><th>Quantité </th><th>Prix </th><th>Photo </th>
</tr>
</thead>
<tbody>
<tr th:each="p:${pageProduits.content}">
<td th:text="${p.id}"></td>
<td th:text="${p.nom}"></td>
<td th:text="${p.qte}"></td>
<td th:text="${p.prix}"></td>
<td >
<img class="img-circle" th:src="@{getPhoto(id=${p.id})}" width="100" height="100px"/>
</td>
<td><a onclick="return confirm('Etes vous sur ?')" th:href="@{supprimer(id=${p.id})}">Supprimer</a></td>
<td><a  th:href="@{edit(id=${p.id})}">Modifier</a></td>
 </tr>
</tbody>
</table>
</div>
<div class="container">
<ul class="nav nav-pills">
<li th:each="p:${pages}" th:class="${p==pageCourante}?active:''">
<a th:text="${p}" th:href="@{index(page=${p},motCle=${motCle})}"> </a>
</li>
</ul>
</div>

</body>
</html>